.ItemRow {
	margin: 20px 0;
	position: relative;
	cursor: pointer;
}

.CheckFlag {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 30px 30px;
	transition: 350ms ease-in-out;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.SmallTextLabel {
	position: absolute;
	top: 10px;
	color: #999;
	text-transform: uppercase;
	font-size: 11px;
}

.SmallTextLabel.Hours {
	right: 37px;
}

.CheckFlag:hover {
	background-color: #f9f9f9;
}

.CheckFlagLabel {
	color: #666;
	font-size: 25px;
	font-weight: 300;
}

.HoursBox {
	width: 50px;
	height: 20px;
	margin-top: 10px;
	border-bottom: 1px solid #999;
}

.Checkmark {
	display: block;
	position: relative;
	flex-shrink: 0;
	width: 18px;
	height: 18px;
	padding: 3px;
	transition: 350ms ease-in-out;
	border: 2px solid #999;
	border-radius: 3px;
}

.Checkmark .CheckmarkIcon {
	transition: 350ms ease-in-out;
	stroke: white;
	stroke-width: 3px;
	stroke-dashoffset: 30;
	stroke-dasharray: 30;
}

@media only screen and (max-width: 600px) {
	.CheckFlag {
		padding: 30px 20px 20px;
	}

	.CheckFlagLabel {
		font-size: 15px;
	}

	.SmallTextLabelHours {
		right: 25px;
	}
}